<div>
  <ion-grid>
    <ion-row>
      <h1 style="padding-left: 10px">{{title}}</h1>
    </ion-row>
    <div class="rows-container">
      <div class="fields-container">
        <ion-row *ngFor="let field of fields">
          <ion-col>
            <ion-item>
              <!-- Label -->
              <ion-label style="color: #999999" *ngIf="field.type !== 'switch'" position="floating">{{field.label}}</ion-label>
              <ion-label *ngIf="field.type === 'switch'">{{field.label}}</ion-label>

              <!-- Text Inputs -->
              <ion-input disabled="true" *ngIf="field.type === 'text' || field.type === 'number' || field.type === 'email'" type="{{field.type}}" [(ngModel)]="obj[field.name]" id="status-text-content"></ion-input>
              <ion-textarea disabled="true" rows="8" *ngIf="field.type === 'textarea'" [(ngModel)]="obj[field.name]" id="status-text-content"></ion-textarea>

              <!-- Toggle/Switch -->
              <ion-toggle disabled="true" *ngIf="field.type === 'switch'" [(ngModel)]="obj[field.name]" id="status-text-content"></ion-toggle>

              <!-- Select/Select multiple-->
              <ion-select disabled="true" *ngIf="field.type === 'select'" multiple="false" [(ngModel)]="obj[field.name]">
                <ion-select-option *ngFor="let item of field.items" value="{{item.id}}">
                  {{item.name}}
                </ion-select-option>
              </ion-select>
              <ion-select disabled="true" *ngIf="field.type === 'select-multiple'" multiple="true" [(ngModel)]="obj[field.name]">
                <ion-select-option *ngFor="let item of field.items" value="{{item.id}}">
                  {{item.name}}
                </ion-select-option>
              </ion-select>

              <!-- Image -->
              <div *ngIf="field.type === 'image'" style="margin-top: 12px">
                <ion-input disabled="true" id="image-input" type="file" accept="image/*"></ion-input>
              </div>

              <!-- List -->
              <div *ngIf="field.type === 'list'" style="color: #999999; margin-top: 12px">
                <p *ngFor="let item of field.items">{{item}}</p>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-around"> 
          <ion-col></ion-col>
          <ion-col class="ion-justify-items-end">
            <ion-button (click)="dismiss()" class="ion-float-right" color="light">Fechar</ion-button>  
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</div>