<ion-list>
  <ion-item *ngFor="let option of options">
    <ion-label style="display: flex" class="cursor-pointer" (click)="option.callback(); dismissPopover();">
      <ion-icon *ngIf="!!option.icon" style="--ion-color-base: {{option.iconColor}};" color="tertiary" [ios]="option.icon + '-outline'" [md]="option.icon + '-sharp'">option.icon</ion-icon>
      <div style="display: inline-block; width: 16px"></div>
      {{option.label}}
    </ion-label>
  </ion-item>
</ion-list>