<div>
  <ion-grid>
    <ion-row>
      <h1 style="padding-left: 10px">{{title}}</h1>
    </ion-row>
    <div class="rows-container">
      <div class="fields-container">
        <ion-row *ngFor="let field of fields">
          <ion-col>
            <ion-item>
              <ion-label *ngIf="field.type !== 'switch'" position="floating">{{field.label}}</ion-label>
              <ion-input *ngIf="field.type === 'text' || field.type === 'number' || field.type === 'email'" type="{{field.type}}" [(ngModel)]="obj[field.name]" id="status-text-content"></ion-input>
              <ion-input *ngIf="field.type === 'password'" type="password" [(ngModel)]="obj[field.name]" id="status-text-content"></ion-input>
              <ion-textarea *ngIf="field.type === 'textarea'" [(ngModel)]="obj[field.name]" id="status-text-content"></ion-textarea>

              <ion-label *ngIf="field.type === 'switch'">{{field.label}}</ion-label>
              <ion-toggle *ngIf="field.type === 'switch'" [(ngModel)]="obj[field.name]" id="status-text-content"></ion-toggle>

              <ion-select *ngIf="field.type === 'select'" multiple="false" [(ngModel)]="obj[field.name]">
                <ion-select-option *ngFor="let item of field.items" value="{{item.id}}">
                  {{item.name}}
                </ion-select-option>
              </ion-select>
              <ion-select *ngIf="field.type === 'select-multiple'" multiple="true" [(ngModel)]="obj[field.name]">
                <ion-select-option *ngFor="let item of field.items" value="{{item.id}}">
                  {{item.name}}
                </ion-select-option>
              </ion-select>

              <div *ngIf="field.type === 'image'" style="margin-top: 12px">
                <ion-input id="image-input" type="file" accept="image/*"></ion-input>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-around"> 
          <ion-col></ion-col>
          <ion-col class="ion-justify-items-end">
            <ion-button (click)="applyChanges()" class="ion-float-right" color="success">Adicionar</ion-button>
            <ion-button (click)="dismiss()" class="ion-float-right" color="light">Descartar alterações</ion-button>  
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</div>